@import url("https://fonts.googleapis.com/css2?family=PT+Serif");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans");

:root {
  --bg-color: #222222;
  --font-color: #eeeeee;
  --link-color: #747474;
}

html,
body {
  height: 100vh;
  padding: 0;
  margin: 0;
}

body {
  font-size: 30px;
  font-family: "PT Serif", serif;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--font-color);
  background-color: var(--bg-color);
}

@media screen and (max-width: 600px) {
  body {
    align-items: flex-start;
  }
}

.wrapper-body {
  padding: 20px;
}

.fact-wrapper {
  max-width: 1000px;
}

/* idk why, but font-awesome is in italic bydefault */
i {
  font-style: normal;
}

.material-icons {
  font-size: inherit;
}

.navbar {
  font-size: 40px;
  display: flex;
  justify-content: space-between;
}

.navbar-right {
  display: flex;
  align-items: flex-end;
}

.fact {
  margin: 10px 0;
}

.description {
  font-family: "Noto Sans", sans-serif;
  color: var(--link-color);
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}

.suggestion {
  display: flex;
  align-items: center;
}

a {
  text-decoration: none;
  color: var(--link-color);
}
